/*------------------------------------*/
/*              CSS RESET             */
/*------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #121212;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: 'arial';
  color: #F8FAFC;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

button {
	font-size: 1.25rem;
	font-weight: 500;
	font-family: 'arial';
	border: none;
	border-radius: 20px;
	padding: 16px;
  cursor: pointer;
}

#root, #__next {
  isolation: isolate;
}

.game {
	max-inline-size: 1000px;
	margin: 0 auto;
}

.header {
	background-color: #1E293B;
}

.header__rounds {
	text-align: center;
}

.header__round-number {
	font-size: 2em;
	font-weight: 700;
}

.score {
	display: flex;
	gap: 16px;
	padding: 16px;
	justify-content: space-around;
	text-align: center;
}

.score__item {
	flex: 1;
	padding: 16px;
	border-radius: 12px;
	background-color:#7C3AED;
}

.score__item p {
	font-size: 2em;
	font-weight: 700;
	margin-block-start: 12px;
}

.score__item--player {
	background-color: #54c65f;
}

.score__item--computer {
	background-color:  #db684b;
}

.choice {
	background-color: #334155;
	display: flex;
	align-items: center;
	padding: 20px;
}

.choice > * {
	flex: 1;
	text-align: center;
}

.choice__human,
.choice__computer {
	font-size: 200px;
}

.result {
	text-wrap: wrap;
	font-size: 3.2em;
}

.controls {
	padding: 18px;
	display: flex;
	flex-direction: column;
	background-color: #1E293B;
}

.controls__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	justify-content: space-around;
}

.controls__buttons button {
	flex: 1;
	background-color: #475569;
	color: #F8FAFC;
}

.controls__buttons button:hover,
.controls__buttons button:focus-visible {
  background-color: #7C3AED;
  color: #F8FAFC;
  box-shadow: 0 10px 20px rgba(124, 58, 237, 0.3);
  transition: all 0.2s ease-in-out;
}

.restart {
	background-color: #10B981 ;
}

.restart:hover,
.restart:focus-visible {
	background-color: #7C3AED;
	color: #F8FAFC;
}
